.header{
  display: flex;
  justify-content: center;
  background-color: #0d090a;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-shadow: 0 0 3px #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0.8rem 5rem;
  font-size: 1.2rem;
}

.navbar a {
  text-decoration: none;
}

.logo a{
  color: #E55812;
  font-weight: 500;
  font-size: 1.5rem;
}

.dropdown-arrow{
  display: none;
}

.nav ul {
  margin: 0;
  list-style: none;
  display: flex;
}

.nav li {
  margin: 0 0.5rem;
  padding-top: 0.15rem;
  color: #FFFFFF;
  border-bottom: 0rem solid rgba(229, 88, 18, 0);
  transition: border-bottom 0.5s, border-bottom-width 0.3s, padding-top 0.3s;
}

.nav li:hover {
  padding-top: 0;
  border-bottom: 0.15rem solid rgba(229, 88, 18, 1);
  transition: border-bottom 0.5s, border-bottom-width 0.3s, padding-top 0.3s;
}

@media only screen and (max-width: 991px){}

@media only screen and (max-width: 767px){

  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
  }
  
  .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8rem 1.5rem;
  }

  .logo a{
    font-size: 1.2rem;
  }

  .dropdown-arrow{
    display: block;
    max-width: 1.5rem;
    max-height: 1.5rem;
  }
  
  .nav{
    width: 100%;
    height: 5.8rem;
    transition: all 0.3s;
  }

  .invisible{
    height: 0rem;
    transition: all 0.3s;
  }

  .nav ul {
    flex-direction: column;
    padding: 0rem 0rem;
  }
  
  .invisible ul{
    display: none;
  }

  .nav a{
    border: 1px solid rgba(229, 88, 18, 0);
    border-top: 1px solid rgba(229, 88, 18, 0.7);
    background-color: rgba(229, 88, 18, 0);
    transition: all 0.5s;
  }
  
  .nav a:hover{
    border: 1px solid rgba(229, 88, 18, 0.7);
    background-color: rgba(229, 88, 18, 0.9);
    transition: all 0.5s;
  }
  
  .nav li {
    border-bottom: none;
    padding: 0.8rem 0;
    margin: 0 1.5rem 0;
    font-size: 1rem;
    transition: color 0.5s;
  }
  
  .nav li:hover {
    border-bottom: none;
    padding: 0.8rem 0;
    color: #0d090a;
    transition: color 0.5s;
  }

}

@media only screen and (max-width: 480px){
  
  .logo a{
    font-size: 1rem;
  }
  .nav{
    height: 5.3rem;
  }

  .invisible{
    height: 0rem;
  }
  
  .nav li {
    font-size: 0.8rem;
  }
  
}